{%extends 'musicbeats/basic.html' %}
{% block title %}Signup{% endblock %}

{% block body %}
<div class="container my-4" >
    <form method="POST" action="/musicbeats/signup"> 
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="name@example.com" name="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Username</label>
          <input type="text" class="form-control" id="exampleInputusername1" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputpassword1" name="password" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword11" class="form-label">Password (Again)</label>
            <input type="password" class="form-control" id="exampleInputpassword11" name="passwordagain">
          </div>
          <div class="mb-3">
            <label for="exampleInputFN" class="form-label">First Name</label>
            <input type="text" class="form-control" id="exampleInputFN" name="firstname">
          </div>
          <div class="mb-3">
            <label for="exampleInputLN" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="exampleInputLN" name="lastname">
          </div>
          <div style="padding-top: 2%;">
        <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>    
    </div>
   {% endblock %}